.cta {
    background-color: rgba(73, 85, 103, 1);
    position: relative;
}
.cta__container {
    padding: 102px 0;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    &::after {
        content: "";
        width: 347px;
        height: 347px;
        border: 15px solid rgba(229, 236, 244, 0.1);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 250px;
    }
    &::before {
        content: "";
        width: 347px;
        height: 347px;
        border: 15px solid rgba(229, 236, 244, 0.1);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 700px;
    }
}
.cta__title {
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #FFFFFF;
    width: 415px;
}
.cta__logo {
    margin-left: auto;
    display: flex;

}
.cta__logo-link {
    margin-right: 18px;
}
.cta__inner {
    display: block;
    width: 347px;
    height: 347px;
    background-color: #E5ECF4;
    mix-blend-mode: normal;
    opacity: 0.1;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 50%;
    position: absolute;
    bottom: calc(50% - 347px);
    left: calc(100% -150px);    
}
@media only screen and (max-width: $tablet) {
    .cta__container {
        padding-top: 62px;
        padding-bottom: 62px;
       flex-direction: column;
       justify-content: center;
    }
    .cta__logo {
        margin: 0;
        margin-top: 40px;
    }
    .cta__title {
        text-align: center;
    }
}
@media only screen and (max-width: $mobile) {
    .cta__container {
        padding-top: 88px;
        padding-bottom: 88px;
    }
    .cta__title {
        width: 311px;
        font-size: 32px;
        line-height: 32px;
    }
}