.header__container {
    display: flex;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 21px;
}
.header__link {
    margin-left: auto;
}
.burger {
    display: none;
    background-color: aqua;
}
@media only screen and (max-width: $mobile){
    .header__container {
        
        padding-bottom: 22px;
    }
    .header__nav {
        display: none;
    }
    .burger {
        display: block;
       
    }
    .header__link {
        display: none;
    }
    .header__logo {
        margin: 0 auto;
    }
}