.intro {
    padding: 153px 0;
    background-image: url("../img/intro.jpg");
    max-width: 1440px;
    height: 650px;
    background-repeat: no-repeat;
    margin: 0 auto;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .intro {
    background-image: url("../img/intro2x.jpg");
  }
}
.intro__container {
    
}
.intro__title {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: #FFFFFF;
    width: calc(100% - 610px);

}
.intro__text {
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    width: calc(100% - 715px);
    margin: 40px 0;
}
.intro__link {
    &:hover {
        background-color: transparent;
    }
}